{
  "arch"            : ["str",   "regression"],
  "sbr_loss_type"   : ["str",   "L1"],
  "video_L"         : ["int",   1],
  "video_R"         : ["int",   1],
  "optflow_backend" : ["str",   "farneback"],
  "start"           : ["int",   0],
  "weight"          : ["float",   2], 
  "conf_thresh"     : ["float", 0.1], 
  "fb_thresh"       : ["float", 1],
  "dis_thresh"      : ["float", 0.01],
  "available_thresh": ["int",  50]
}
