{
  "optimizer" : ["str",   "sgd"],
  "LR"        : ["float", "0.00005"],
  "momentum"  : ["float", "0.9"], 
  "weight_decay" : ["float", "0.0005"],
  "nesterov"  : ["bool",  "1"],
  "criterion" : ["str",   "mse-mean"],
  "epochs"    : ["int",   50],
  "scheduler"    : ["str",   "multistep"],
  "schedule"  : ["int",   [30, 50]],
  "gamma"     : ["float", 0.1]
}
