{
  "optimizer"    : ["str",   "rmsprop"],
  "LR"           : ["float", "0.001"],
  "alpha"        : ["float", "0.99"],
  "epsilon"      : ["float", "1e-8"],
  "weight_decay" : ["float", "0.0"],
  "momentum"     : ["float", "0.0"],
  "criterion"    : ["str", "mse-mean"],
  "epochs"       : ["int", "110"],
  "scheduler"    : ["str",   "multisteps"],
  "schedule"     : ["int",   [40,  70,  90 , 100]],
  "gammas"       : ["float", [0.5, 0.5, 0.5, 0.5]]
}
