{
  "optimizer" : ["str",   "sgd"],
  "LR"        : ["float", "0.000005"],
  "momentum"  : ["float", "0.9"], 
  "weight_decay" : ["float", "0.0005"],
  "nesterov"  : ["bool",  "1"],
  "criterion" : ["str",   "mse-batch"],
  "scheduler" : ["str",   "cosine"],
  "epochs"    : ["int",   400],
  "LR_min"    : ["float", "0.0000001"]
}
