{
  "arch"            : ["str",   "regression"],
  "sbr_loss_type"   : ["str",   "L1"],
  "sbt_loss_type"   : ["str",   "L1"],
  "max_views"       : ["int",   4],
  "video_L"         : ["int",   1],
  "video_R"         : ["int",   1],
  "optflow_backend" : ["str",   "farneback"],
  "start_sbr"       : ["int",   0],
  "start_stm"       : ["int",   0],
  "sbr_weights"     : ["float", 0.5], 
  "stm_weights"     : ["float", 0.1],
  "conf_thresh"     : ["float", 0.1], 
  "fb_thresh"       : ["float", 1],
  "dis_thresh"      : ["float", 0.01],
  "stm_dis_thresh"  : ["float", 0.01],
  "available_sbr_thresh": ["int",  50],
  "available_stm_thresh": ["int",  30]
}
