{
  "optimizer"    : ["str",   "rmsprop"],
  "LR"           : ["float", "0.00025"],
  "alpha"        : ["float", "0.99"],
  "epsilon"      : ["float", "1e-8"],
  "weight_decay" : ["float", "0.0"],
  "momentum"     : ["float", "0.0"],
  "criterion"    : ["str", "mse-mean"],
  "epochs"       : ["int", "160"],
  "scheduler"    : ["str", "multisteps"],
  "schedule"     : ["int",   [60, 90,  110, 140]],
  "gammas"       : ["float", [0.5, 0.5, 0.5, 0.2]]
}
