{
  "optimizer"    : ["str",   "rmsprop"],
  "LR"           : ["float", "0.001"],
  "alpha"        : ["float", "0.99"],
  "epsilon"      : ["float", "1e-8"],
  "weight_decay" : ["float", "0.0"],
  "momentum"     : ["float", "0.0"],
  "criterion"    : ["str", "mse-mean"],
  "lossnorm"     : ["bool",  "0"],
  "epochs"       : ["int", "250"],
  "scheduler"    : ["str",   "multistep"],
  "schedule"     : ["int", [100, 150, 170, 200, 230]],
  "gamma"        : ["float", 0.5]
}
