{
  "optimizer"    : ["str",   "adam"],
  "LR"           : ["float", "0.0005"],
  "amsgrad"      : ["bool",  "1"],
  "betas"        : ["float", [0.9, 0.999]],
  "weight_decay" : ["float", "0.0"],
  "criterion"    : ["str", "mse-mean"],
  "epochs"       : ["int", "150"],
  "scheduler"    : ["str", "multisteps"],
  "schedule"     : ["int",   [90,  120]],
  "gammas"       : ["float", [0.2, 0.1]]
}
