{
  "arch"      : ["str",  "hrnet"],
  "S2_BLOCK"        : ["str", "BASIC"],
  "S2_NUM_MODULES"  : ["int", 1],
  "S2_NUM_BRANCHES" : ["int", 2],
  "S2_NUM_BLOCKS"   : ["int", [4,4]],
  "S2_NUM_CHANNELS" : ["int", [18,36]],
  "S2_FUSE_METHOD"  : ["str", "SUM"],
  "S3_BLOCK"        : ["str", "BASIC"],
  "S3_NUM_MODULES"  : ["int", 4],
  "S3_NUM_BRANCHES" : ["int", 3],
  "S3_NUM_BLOCKS"   : ["int", [4,4,4]],
  "S3_NUM_CHANNELS" : ["int", [18,36,72]],
  "S3_FUSE_METHOD"  : ["str", "SUM"],
  "S4_BLOCK"        : ["str", "BASIC"],
  "S4_NUM_MODULES"  : ["int", 3],
  "S4_NUM_BRANCHES" : ["int", 4],
  "S4_NUM_BLOCKS"   : ["int", [4,4,4,4]],
  "S4_NUM_CHANNELS" : ["int", [18,36,72,144]],
  "S4_FUSE_METHOD"  : ["str", "SUM"],
  "FINAL_CONV_KERNEL": ["int", 1],
  "background": ["bool", 1],
  "background": ["bool", 1],
  "sigmoid"   : ["bool", 0],
  "downsample": ["int",  4]
}
