__pycache__
*/__pycache__
*/*/__pycache__
snapshots
cache_data/cache
cache_data/lists
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*.swp
*/*.swp
*/*/*.swp
*/AFLWinfo_release.mat
AFLWinfo_release.mat
test/cache
vox2_dev_mp4a*
*/vox2_dev_mp4a*
test/demo-*.avi
test/temp
test/panoptic-data/
test/*.png
cache_data/delet_Panoptic.sh
paper-visual/171204_pose1_sample
.README.md.swo
:w
*/:w
*/*/:w

fig-2.pdf
*/.nfs000000*
*/*/.nfs000000*

REG-SRT-PF-L1.W05.W05-default-96x96-32.32.16-P49
REG-DET-300W-RD10-default-96x96-32-P49
