{
  "optimizer" : ["str",   "adam"],
  "LR"        : ["float", "1e-2"],
  "amsgrad"   : ["bool",  "1"],
  "betas"     : ["float", [0.9, 0.999]],
  "weight_decay" : ["float",  0],
  "criterion" : ["str", "MSE-avg"],
  "lossnorm"  : ["bool",  "0"],
  "epochs"    : ["int", "150"],
  "schedule"  : ["int", [70, 90, 110, 130, 140]],
  "gamma"    : ["float", 0.2]
}
