{
  "optimizer"    : ["str",   "rmsprop"],
  "LR"           : ["float", "2.5e-4"],
  "alpha"        : ["float", "0.99"],
  "epsilon"      : ["float", "1e-8"],
  "weight_decay" : ["float", "0.0"],
  "momentum"     : ["float", "0.0"],
  "criterion"    : ["str", "MSE-avg"],
  "lossnorm"     : ["bool",  "0"],
  "epochs"       : ["int", "110"],
  "schedule"     : ["int", [50, 70, 90, 100]],
  "gamma"        : ["float", 0.2]
}
