{
  "arch"            : ["str",   "regression"],
  "max_views"       : ["int",   5],
  "video_L"         : ["int",   1],
  "video_R"         : ["int",   1],
  "optflow_backend" : ["str",   "farneback"],
  "start_sbr"       : ["int",   0],
  "start_stm"       : ["int",   0],
  "sbr_weights"     : ["float", 1], 
  "stm_weights"     : ["float", 0.001],
  "conf_thresh"     : ["float", 0.1], 
  "fb_thresh"       : ["float", 1],
  "dis_thresh"      : ["float", 0.05],
  "stm_dis_thresh"  : ["float", 40],
  "available_sbr_thresh": ["int",  50],
  "available_stm_thresh": ["int",  20]
}
