{
  "optimizer"    : ["str",   "adam"],
  "LR"           : ["float", "0.0001"],
  "amsgrad"      : ["bool",  "1"],
  "betas"        : ["float", [0.9, 0.999]],
  "weight_decay" : ["float", "0.0"],
  "criterion"    : ["str", "mse-mean"],
  "epochs"       : ["int", "60"],
  "scheduler"    : ["str", "multisteps"],
  "schedule"     : ["int",   [30,  50]],
  "gammas"       : ["float", [0.1, 0.1]]
}
