{
  "optimizer" : ["str",   "sgd"],
  "LR"        : ["float", "0.00005"],
  "momentum"  : ["float", "0.9"], 
  "Decay"     : ["float", "0.0005"],
  "nesterov"  : ["bool",  "1"],
  "criterion" : ["str",   "MSE-none"],
  "loss_norm" : ["bool",  "1"],
  "lossnorm"  : ["bool",  "1"],
  "epochs"    : ["int",   50],
  "schedule"  : ["int",   [30, 40]],
  "gamma"     : ["float", 0.5]
}
